click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "2.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_full_version >= "3.5.0"
fastapi==0.64.0; python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
httptools==0.1.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
numpy==1.20.2; python_version >= "3.7"
pydantic==1.8.1; python_full_version >= "3.6.1" and python_version >= "3.6"
python-dotenv==0.17.1
pyyaml==5.4.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
starlette==0.13.6; python_version >= "3.6"
symspellpy==6.7.0; python_version >= "3.4"
typing-extensions==3.10.0.0; python_full_version >= "3.6.1" and python_version >= "3.6" and python_version < "3.8"
uvicorn==0.13.4
uvloop==0.15.2; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.7; python_version >= "3.5"
websockets==8.1; python_full_version >= "3.6.1"
